<form class="form">
    <div class="form-group">
        <div class="row">
            <div class="col col-sm-12">
                <label for="type">Type:</label>
                <select class="form-control" id="type" ng-model="match.type">
                    <option value="Liga Offline">Liga Offline</option>
                    <option value="Liga Online">Liga Online</option>
                    <option value="Squad Battle">Squad Battle</option>
                </select>
                <label for="team">Team:</label>
                <select class="form-control" id="team" ng-model="match.team">
                    <option value="La Liga">La Liga</option>
                    <option value="Schland">Schland</option>
                    <option value="Quicksellers">Quicksellers</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col col-sm-5">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="decrementGoals(match.goalsfor, 'goalsfor')"><span class="glyphicon glyphicon-minus"></span></button>
                    </span>
                    <input type="text" class="form-control" placeholder="Goals For" aria-label="Goals For" ng-model="match.goalsfor">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="incrementGoals(match.goalsfor, 'goalsfor')"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
            <div class="col col-sm-2">:</div>
            <div class="col col-sm-5">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="decrementGoals(match.goalsagainst, 'goalsagainst')"><span class="glyphicon glyphicon-minus"></span></button>
                    </span>
                    <input type="text" class="form-control" placeholder="Goals Against" aria-label="Goals Against" ng-model="match.goalsagainst">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="incrementGoals(match.goalsagainst, 'goalsagainst')"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <button class="btn-primary btn btn-large" ng-click="saveForm()"><span class="glyphicon glyphicon-save"></span> Save</button>
</form>

<br>

<table class="table">
    <tr ng-if="$ctrl.matches.length > 0">
        <th>Typ</th>
        <th>Team</th>
        <th>Ergebnis</th>
    </tr>
    <tr ng-repeat="match in $ctrl.matches">
        <td>{{match.type}}</td>
        <td>{{match.team}}</td>
        <td>{{match.goalsfor}}:{{match.goalsagainst}}
    </tr>
</table>